/**
 * ============================================================================
 * POLYHEDRON COMPONENT STYLES 
 * ============================================================================
 * @author Vu Nguyen
 * @version 3.1.0
 * ============================================================================
 */

#polyhedron-container {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 0px;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
  overflow: visible;
}

#polyhedron-container:active {
  cursor: grabbing;
}

#polyhedron-container svg {
  display: block;
  overflow: visible;
  outline: none;
}

#polyhedron-container:hover svg line {
  filter: drop-shadow(0 0 3px #0e0e7b);
  transition: filter 0.3s ease;
}

@media (max-width: 600px) {
  #polyhedron-container {
    margin: 25px auto;
  }
}