.speechreading
{
    padding: 2px 2px 2px 2px;
    margin: -2px -2px -2px -2px;
    border-radius: 4px;
    text-shadow: 0px 1px 2px #2A2A2A;
    position: relative;
}

.textHELPWR.thWord {
    margin-left: -2px;
    padding-left: 2px;
}

.textHELPWR.thSpace {
    padding-right: 1px;
    margin-right: -1px;
}

.textHELPWR{
 /*   background-color: yellow;
    color: black;*/
}

.textHELPWR.thHighlighted{
/*    background-color: blue;
    color: white;*/
    position: relative;
    padding: 2px 2px 2px 2px;
    margin: -2px -2px -2px -2px;
    border-radius: 4px;
    text-shadow: 0px 3px 8px #2A2A2A;
    z-index:10;
}